.employees-table {
  border-style: solid;
  padding: 20px;
  margin: auto;
  width: 85%;
}

body > table {
  width: 80%;
}

table {
  border-collapse: collapse;
}
table.list {
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even),
table.list thead > tr {
  background-color: #dddddd;
}
